@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 346.6667 75.7009% 58.0392%;
    --primary-foreground: 0 0% 100%;
    --secondary: 31.0244 92.7602% 56.6667%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 40%;
    --accent: 201.6309 100% 45.6863%;
    --accent-foreground: 0 0% 100%;
    --destructive: 15.0638 98.3264% 46.8627%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 85%;
    --input: 0 0% 95%;
    --ring: 210 74.8031% 49.8039%;
    --chart-1: 18.2813 57.1429% 43.9216%;
    --chart-2: 251.4545 84.6154% 74.5098%;
    --chart-3: 46.1538 28.2609% 81.9608%;
    --chart-4: 256.5517 49.1525% 88.4314%;
    --chart-5: 17.7778 60% 44.1176%;
    --sidebar: 51.4286 25.9259% 94.7059%;
    --sidebar-foreground: 60 2.5210% 23.3333%;
    --sidebar-primary: 15.1111 55.5556% 52.3529%;
    --sidebar-primary-foreground: 0 0% 98.4314%;
    --sidebar-accent: 46.1538 22.8070% 88.8235%;
    --sidebar-accent-foreground: 0 0% 20.3922%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 70.9804%;
    --font-sans: Poppins, sans-serif;
    --font-serif: Poppins, sans-serif;
    --font-mono: Poppins, sans-serif;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: 0 0% 9.8039%;
    --foreground: 0 0% 98%;
    --card: 0 0% 12.5490%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12.5490%;
    --popover-foreground: 0 0% 98%;
    --primary: 346.6667 75.7009% 58.0392%;
    --primary-foreground: 0 0% 100%;
    --secondary: 31.0244 92.7602% 56.6667%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 201.6309 100% 45.6863%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.6226 85.9459% 63.7255%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 210 74.8031% 49.8039%;
    --chart-1: 255.5932 100% 65.2941%;
    --chart-2: 359.6319 100% 68.0392%;
    --chart-3: 166.2222 100% 26.4706%;
    --chart-4: 339.5261 84.7390% 48.8235%;
    --chart-5: 129.5364 78.2383% 37.8431%;
    --sidebar: 30 3.3333% 11.7647%;
    --sidebar-foreground: 46.1538 9.7744% 73.9216%;
    --sidebar-primary: 0 0% 20.3922%;
    --sidebar-primary-foreground: 0 0% 98.4314%;
    --sidebar-accent: 60 3.4483% 5.6863%;
    --sidebar-accent-foreground: 46.1538 9.7744% 73.9216%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 70.9804%;
    --font-sans: Poppins, sans-serif;
    --font-serif: Poppins, sans-serif;
    --font-mono: Poppins, sans-serif;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}